%h1 All Menus

= form_tag menus_path, :method => :get, id: "menus_form" do
  - @meals.each do |meal|
    = meal
    = radio_button_tag :meal, "#{meal}", 0, :id => "#{meal}"
  %br
  - @locations.each do |location|
    = location
    = radio_button_tag :location, "#{location}", 0, :id => "#{location}"
  = submit_tag 'Submit', id: "menus_submit"

= @breakfast_data