.container.clear
	.header #{@menu.meal} at #{@menu.location}
	= render 'shared/selection'

.items-container.clear
	- if @items.empty?
		= 'Closed'
	- else
		- @items.each do |item|
			.item-container
				.item-content-container
					.preference-buttons-container.clear
						- if item.vegan
							%div
							= image_tag "vegan.png"
						- if item.vegetarian
							%div
							= image_tag "vegetarian.png"
						- if user_signed_in?
							- if !current_user.items.include? (item)
								= link_to add_to_preferences_path(item.id), :method => :post, :class => 'add right', :id => item.name + "item" do
									%i.fa.fa-heart-o{"aria-hidden" => "true"}
							- else
								= link_to remove_from_preferences_path(item.id), :method => :post, :class => 'remove right',  :id => item.name + "item" do
									%i.fa.fa-heart{"aria-hidden" => "true"}
					%a{:href => item_path({:id => item.id, :location => @menu.location, :meal => @menu.meal})}
						- if Image.get_first_image(item)
							.item-image-container
								%img{:src => Image.get_first_image(item), :class => 'img_scaled_wh'}
						- else
							.no-image-container
								.table
									.table-cell
										%i.fa.fa-image{"aria-hidden" => "true"}
										.no-image-caption
											Add an image
						.item-text-container
							= item.name