.container
  .navbar.clear
    = render 'shared/navbar'
.container-big.clear  
  .header #{@menu.meal} at #{@menu.location}
  - @menu.items.each do |item|
    .item-container
      .item-image-container
      .item-text-container
        = link_to item.name, item_path({:id => item.id, :location => @menu.location, :meal => @menu.meal})

.container      
  = link_to 'Back', menus_path