<p id="notice"><%= notice %></p>

<p>
  <strong>Meal:</strong>
  <%= @menu.meal %>
</p>

<p>
  <strong>Location:</strong>
  <%= @menu.location %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
