.container
  #home-item
    = link_to 'Home', menus_path
  - if user_signed_in?
    .navbar-item
      = link_to 'Sign out', destroy_user_session_path, method: :delete
    .navbar-item
      = link_to 'My info', edit_user_registration_path
    .navbar-item
      = current_user.email
  - else
    .navbar-item
      = link_to "Signin", new_user_session_path
      = link_to "Sign up", new_user_registration_path