= form_tag menus_path, {:method => :get, id: "menus_form", class: "clear"} do
  .radios.location
    - @locations.each do |location|
      = radio_button_tag :location, "#{location}", @selected_location.match(location), :id => "#{location.tr(' ','_')}", :class => 'radio'
      = label_tag location, location.titleize, class: 'radio'
  .radios.meal
    - @meals.each do |meal|
      = radio_button_tag :meal, "#{meal}", @selected_meal.match(meal), :id => "#{meal.tr('/','_')}", :class => 'radio'
      = label_tag meal, meal.titleize, class: 'radio'
  = submit_tag 'Submit', id: "menus_submit"
