.container
    .navbar.clear
        = render 'shared/navbar'
.container
    .header #{@item.name}
    %div
        Available for #{@meal} at #{@location}
    .container
        - @images.each do |image|
            = filepicker_image_tag image.filename
            - if user_signed_in? && current_user.admin?
                =button_to 'Disapprove image', image_disapprove_path(image.id)
    - if not @item.nutrition_available.nil?
        %ul
            %li Nutrition Facts
            %li Calories: #{@item.calories}
            %li Total Fat: #{@item.total_fat}
            %li Cholesterol: #{@item.cholesterol}
            %li Sodium: #{@item.sodium}
            %li Dietary Fiber: #{@item.dietary_fiber}
            - if not @item.vitamin_c_percent.nil?
                %li Vitamin C: #{@item.vitamin_c_percent + '%'}
            %li Allergens: #{@item.allergens}
            %li Ingredients: #{@item.ingredients}
    - else
        %p No nutrition information available
    - if not @other_locations.empty?
        %p Also available for #{@meal} at:
        - @other_locations.each do |location|
            %div
                = link_to location.location, menu_path(location.id)
    %br
    - if user_signed_in?
        %div{:id => 'upload_button'} Upload

    = link_to 'Back', menu_path(@menu_id)

= javascript_tag do
    var filepicker_key = "#{ENV['FILEPICKER_KEY']}";
    var upload_post_url = "#{image_upload_path(@item.id)}";
    window.onload=initReload();
    function initReload() {window.location.reload;}


