
%h1 #{@item.name} 
%p Available at #{@location} for #{@meal}
- if not @other_locations.empty?
    %p Also available for #{@meal} at:
    - @other_locations.each do |location|
        %p #{location.location}
= link_to 'Back', menu_path(@menu_id)