<!DOCTYPE html>
<html>
<head>
  <title>Cal Dining</title>
  <link href='https://fonts.googleapis.com/css?family=Hind:400,300,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
  <script>
      $(document).on('ready page:load', function(){
      	var $container = $('.items-container');
		// initialize Masonry after all images have loaded  
		$container.imagesLoaded( function() {
		    $container.masonry({
          columnWidth: 0,
          itemSelector: '.item-container',
          gutter: 10
        });
		});
      })
  </script>
</head>
<body>
  <div class = "navbar clear">
    <%= render "shared/navbar" %>
  </div>

<%= yield %>

</body>
</html>
